language: node_js
node_js:
    - 8.10.0
cache:
    directories:
        - $HOME/.cache
install:
    - yarn install --frozen-lockfile
    - yarn cy:verify
script:
    - yarn build
    - PORT=8081 REACT_APP_DHIS2_URL="$dhis2_url" yarn start &
    - yarn run wait-on http://localhost:8081
    - CYPRESS_EXTERNAL_API=https://play.dhis2.org/2.30 CYPRESS_ROOT_URL=http://localhost:$port yarn cy:e2e:run
    - kill $(jobs -p) || true
